@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox .vbox-item {
  display: 'block';
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox .vbox-item {
  display: 'block';
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.box() {
  margin: 0;
  padding: 0;
}
.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
@font-size : 12
@font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif

.box() {
  margin: 0;
  padding: 0;
}
.hbox {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .hbox {
    letter-spacing: -4px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.hbox .hbox-item {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.vbox {
  list-style: none;
}
.vbox .vbox-item {
  display: block;
  margin: 0;
  padding: 0;
}
